*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 5rem;
    font-family: "roboto" ,sans-serif;
}

h2{
    font-size: 3rem;
    font-family: "roboto" ,sans-serif;
}

h3{
    font-size: 2.5rem;
    font-family: "roboto" ,sans-serif;
}

p{
    font-size: 1.5rem;
    font-family: "roboto" ,sans-serif;
}

a{
    font: 1rem;
    font-family: "roboto" ,sans-serif;
}

i{
    size: 5x;
}

@media screen and (max-width: 767px) {
  h1{
    font-size: 2.5rem;
  }

  h2{
    font-size: 1.5rem;
  }

  h3{
    font-size: 1rem;
  }

  p{
    font-size: 1rem;
  }
  i{
    size: 2x;
  }
}

/*overall font*/

.navcontainer {
    background-color:rgba(150, 155, 155, 0.932);
    font-size: 1.2rem;
    font-family: sans-serif;
    height: 55px;
    }
  
  
  header {
      position: sticky;
      top: 0;
      z-index: 1;
     }
  
   #navbar {
      display: flex;
      justify-content: space-around;
      height: 100%;
      width: 100%;
      margin: auto;
    }
  
  
  #navbar ul{
      display: flex;
      align-items: center;
    }
  
  #navbar {
      align-items: center;
      justify-content: space-between;
    }
  
  #navbar ul li {
        list-style-type: none;
        float: center;
        padding: 0;
        margin: 0;
    }    
  
  #navbar li a {
      display: block;
      color: black;
      padding: 14px 16px;
      text-decoration: none;
      transition-property: background-color;
      transition-duration: 2s;
    }
  
    li a:hover {
      background-color: #ffffff;
    }
  
    @media screen and (max-width: 767px) {
      .container {
        height: 100%;
      }
    
  #navbar h2 {
    font-size: 1.5rem;
  }
  
  #navbar li a{
    font-size: 1rem;
    letter-spacing: -1.5px;
    padding: 16px 18px;
      }
    }

    /*Header*/
    .introcontainer{
        background-image: url(images/headerbg.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        height: 900px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .intro > div{
        margin: 10px;
        padding: 20px;
        font-size: 80px;
        color: rgb(20, 20, 20);
        animation: fadeIn 5s;
      }

    .intro h1{
        color: bisque;
    }

    .intro #aboutus{
      width: 50%;
    }
    
    .intro a{
        font-size: 2rem;
        border: 1px transparent;
        border-style: solid;
        border-color: black;
        border-radius: 10px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 250px;
        margin: 4px 2px;
        cursor: pointer;
        background: none;
        transition-property: background;
        transition-duration: 1s;
        transition-timing-function: linear;
        }
      
      .intro a:hover{
        background-color: rgb(71, 73, 73);
      }
  
      @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }

    @media screen and (max-width: 767px) {
    .introcontainer {
      align-items: flex-start;
      background-size: cover;
      margin: 0;
      }

    .intro #aboutus{
        width: 100%;
    }
    .introcontainer{
      background-size: cover;
      background-position: center;
      filter: grayscale(10%);
  }
  .intro a{
    font-size: 1rem;
    width: 175px;
  }
}


